body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(image/beetle-8273349_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    h2 {
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    

    #increment-btn {
        background: #990e0e;

    }

    #increment-btn:active{
        background: #cd7e7e;
    }

    #save-btn {
        background: #006400;
    }

    #save-btn:active{
        background-color: #419541;
    }

    .button-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    button {
        border: none;
        color: white;
        font-weight: bold;
        width: 200px;
        padding: 10px 10px;
        border-radius: 5px;
    }

    .black-backgroung{
        min-height: 50vh;
        background-color: #e47a4cb0;
        border-radius: 20px;
        width: 80%;
        max-width: 500px;
    }